<mat-card>
  <mat-card-header>
    <mat-card-title>
      <div class="title">
        Advanced Mat-Select
      </div>
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div class="examples">
      <div class="example">
        <xh-basic-select/>
      </div>
      <div class="example">
        <xh-basic-multiselect/>
      </div>
      <div class="example">
        <xh-object-select/>
      </div>
      <div class="example">
        <xh-object-multiselect/>
      </div>
    </div>
  </mat-card-content>
</mat-card>
